@font-face {
  font-family: "PT Sans";
  src:
    local("PT Sans"), local("PTSans"),
    url("../font/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    local("PT Sans Bold"), local("PTSansBold"),
    url("../font/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

 body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  background-color: #f2f2f2
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------- header -------------------*/
.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2); 
}

.site-navi {
  font-size: 14px;
  position: relative;
  padding: 0 73px;
  color: #333333;
}

.site-navi a {
  color: #333333;
}

.site-navi .site-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  width: 138px;
  height: 70px;
}

.navi-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navi-links .active-page {
  color: #766357;
}

.navi-links li {
  padding: 15px 0;
  width: 115px;
}

.navi-info,
.navi-media {
  text-align: left;
}

.navi-map,
.navi-catalog {
  text-align: right;
}

.navi-info {
  margin-right: 125px;
}

.navi-catalog {
  margin-left: 125px;
}

.navi-media {
  margin-right: auto;
}

.navi-links a:hover,
.navi-links a:focus {
  color: #81b3d2;
}

.navi-links a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ------------------- index -------------------*/

.title-image {
  background-image: url("../img/sedona-title-image-w-mask-w-effects.jpg");
  background-color: #515F66;
  background-repeat: no-repeat;
  width: 1200px;
  height: 508px;
}

.title-image img {
  display: block;
  padding-top: 77px;
  margin: auto;
}

.introduction {
  color: #333333;
  text-align: center;
  padding: 60px 0 52px 0;
}

.introduction h2 {
  font-size: 21px;
  padding: 0;
  margin: 0 0 27px 0;
}

.introduction p {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.feature-container {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 21px;
}

.feature-container h3 {
  font-size: 21px;
}

.feature-container p {
  font-weight: normal;
}

.container-rich {
  background-color: #81b3d2;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.container-mini {
  background-color: #eeeeee;
}

.feature-text-emphasis {
  text-align: center;
  box-sizing: border-box;
  width: 400px;
  padding: 45px 48px 60px 48px;
}

.feature-mini-item {
  /*остальные прописаны в feature-text-emphasis*/
  padding-top: 47px;
  padding-bottom: 58px;
}

/*Здесь, думаю, уместно два оставить, тк переопределяются паддинги сверху*/
.feature-text-emphasis.feature-mini-item {
  padding-right: 65px;
  padding-left: 65px;
}

.feature-text-emphasis h3 {
  line-height: 21px;
  margin: 0 0 25px 0;
  padding: 0;
}

.feature-text-emphasis p {
  margin: 0;
  padding: 0;
}

.feature-text-emphasis p:first-of-type {
  margin-bottom: 21px;
}

.feature-image {
  width: 800px;
  height: 256px;
}

.feature-ad-list {
  list-style: none;
  margin: 0;
  padding: 0 0 81px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-ad-item {
  box-sizing: border-box;
  width: 400px;
  position: relative;
  padding: 161px 50px 0 50px;
  text-align: center;
}

.feature-ad-item h3 {
  line-height: 21px;
  margin: 0 0 25px 0;
  padding: 0;
}

.feature-ad-item p {
  margin: 0;
  padding: 0;
}

.feature-ad-item::before {
  content: "";
  position: absolute;
  left: 50%;
  background-repeat: no-repeat;
}

.ad-item-housing::before {
  background-image: url("../img/icon-house.svg");
  width: 75px;
  height: 72px;
  top: 60px;
  margin-left: -38px;
}

.ad-item-food::before {
  background-image: url("../img/icon-burger.svg");
  width: 75px;
  height: 70px;
  top: 61px;
  margin-left: -39px;
}

.ad-item-gifts::before {
  background-image: url("../img/icon-gift.svg");
  width: 64px;
  height: 76px;
  top: 56px;
  margin-left: -32px;
}

.feature-mini-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.housing-search {
  text-align: center;
  padding: 50px 0 0 0;
  position: relative;
}

.housing-search > h2 {
  padding: 0;
  margin: 0 0 22px 0;
  line-height: 36px;
  font-size: 30px;
}

.housing-search-instruction {
  width: 445px;
  padding: 0;
  margin: 0 auto 45px auto;
  font-weight: normal;
}

.housing-search-switch,
.housing-search-form > button {
  font: inherit;
  font-size: 21px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.housing-search-switch {
  padding: 0;
  margin: 0;
  width: 568px;
  height: 86px;
  background-color: #766357;
}

.housing-search-switch:focus,
.housing-search-switch:hover {
  background-color: #604e43;
}

.housing-search-switch:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.housing-search-form {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -284px;
  box-sizing: border-box;
  width: 568px;
  padding: 55px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.form-group {
  width: 100%;
  margin: 0;
  padding: 0 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group-half {
  padding-bottom: 54px;
  width: 50%;
}

.form-group label {
  margin-right: auto;
  cursor: pointer;
}

.form-group input {
  box-sizing: border-box;
  width: 346px;
  margin: 0;
  padding: 6px 13px;
  border: none;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.form-group input:hover {
  background-color: #ebebeb;
}

/*
Когда прокликиваешь табом, календарик съезжает немного
и фон серый у него появляется, это допустимо?
+
Должны ли циферки внизу реагировать?
*/
.form-group input:focus {
  background-color: #ffffff;
  outline: none;
  border: 1px solid #e5e5e5;
}

.button-calendar {
  display: inline-block;
  box-sizing: border-box;
  width: 21px;
  height: 22px;
  margin: 7px 9px 9px -30px;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-calendar:focus path,
.button-calendar:focus rect,
.button-calendar:hover path,
.button-calendar:hover rect {
  fill: #000000;
}

.button-calendar:active rect,
.button-calendar:active path {
  fill: #669ec0;
}

.button-minus,
.button-plus,
.form-group-half input {
  display: inline-block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  margin: 0;
  border: none;
  background-color: #f2f2f2;
}

.form-group-half input {
  vertical-align: middle;
  text-align: center;
}

.button-minus,
.button-plus {
  position: relative;
  padding: 0;
  cursor: pointer;
}

.group-half-adults .button-plus {
  margin-right: 3px;
}

.button-minus:after,
.button-plus:after,
.button-plus:before {
  content: '';
  position: absolute;
  width: 11px;
  height: 3px;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -6px;
  background-color: #a9a9a9;
}

.button-plus:before {
  transform: rotate(-90deg);
}

.button-minus:hover:before,
.button-minus:hover:after,
.button-plus:hover:before,
.button-plus:hover:after,
.button-minus:focus:before,
.button-minus:focus:after,
.button-plus:focus:before,
.button-plus:focus:after {
  background-color: #000000;
}

.button-minus:active:before,
.button-minus:active:after,
.button-plus:active:before,
.button-plus:active:after {
  background-color: #81b3d2;
}

.amount-kids {
  margin-left: 50px;
}

.housing-search-form > button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.housing-search-form > button:focus,
.housing-search-form > button:hover {
  background-color: #669ec0;
}

.housing-search-form > button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map-location {
  background-image: url("../img/map-location.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 593px;
  margin-bottom: -120px;
}

/* ------------------- catalog -------------------*/

.housing-search-tools {
  background-image: url("../img/sedona-title-image-blurred-w-effects.jpg");
  background-repeat: no-repeat;
  background-position: 0 -55px;
  background-color: #81b3d2;
  width: 1200px;
  color: #ffffff;
}

.search-tools-form {
  margin: 0;
  padding: 27px 72px 32px 72px;
  display: flex;
}

.form-fieldset {
  padding: 0;
  margin: 0;
  border: none;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.form-fieldset legend {
  margin: 0 0 25px 0;
  padding: 0;
  font-size: 16px;
}

.form-fieldset label {
  line-height: 21px;
  font-weight: normal;
}

.fieldset-infrastructure {
  width: 200px;
  margin-right: 54px;
}

.fieldset-housing {
  width: 200px;
  margin-right: auto;
}

.fieldset-infrastructure .checkbox-container {
  padding-left: 39px;
}

.fieldset-housing .checkbox-container {
  margin-left: 1px;
  padding-left: 41px;
}

.checkbox-container {
  margin: 0 0 25px 0;
  padding: 0;
  position: relative;
}

.checkbox-container:nth-of-type(2) {
  margin-bottom: 24px;
}

.checkbox-container:last-of-type {
  margin-bottom: 0;
}

.checkbox-container label {
  cursor: pointer;
  user-select: none;  
}

.checkbox-field:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
}

.checkbox-field:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  width: 26px;
  height: 23px;
}

.checkbox-field:checked:disabled + label::before path {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.checkbox-field:not(:checked):disabled + label::before path {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.fieldset-price {
  box-sizing: border-box;
  width: 318px;
  padding-left: 1px;
}

.fieldset-price legend {
  margin-bottom: 10px;
  padding: 0;
  font-size: 16px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls .price-min,
.price-controls .price-max {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 0 4px 0;
  width: 25px;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.price-controls .price-min {
  margin-left: 63px;
  width: 93px;
}

.price-controls .price-max {
  margin-left: 54px;
  width: 103px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.slider-controls {
  position: relative;
  margin-bottom: 32px;
}

.slider-controls .slider-empty {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.slider-controls .slider-filled {
  width: 252px;
  height: 2px;
  background: #ffffff;
}

.slider-thumb {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}


.slider-thumb-min {
  left: 0;
}

.slider-thumb-max {
  left: 252px;
}

.fieldset-price .button-transparent {
  display: block;
  box-sizing: border-box;
  width: 137;
  margin: 0 96px 0 auto;
  padding: 6px 34px 5px 34px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.fieldset-price .button-transparent:focus,
.fieldset-price .button-transparent:hover {
  color: #000000;
  background-color: #ffffff;
}

.housing-search-results {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.housing-search-results h2 {
  box-sizing: border-box;
  width: 220px;
  margin: 0;
  padding: 31px 0 28px 72px;
  text-align: left;
  font-size: 21px;
  border-bottom: 1px solid #e5e5e5;
}

.search-results-sorting {
  box-sizing: border-box;
  width: 980px;
  margin: 0;
  padding: 31px 73px 28px 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}

.search-results-sorting h3 {
  box-sizing: border-box;
  width: 76px;
  margin: 0 39px 0 0;
  padding: 0;
  font-size: 12px;
}

.sorting-parameters,
.sorting-destination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sorting-parameters {
  box-sizing: border-box;
  width: 238px;
  margin-right: auto;
  padding-top: 0;
}

.sorting-parameters a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-parameters a:focus,
.sorting-parameters a:hover {
  border-bottom: 1px dotted #81b3d2;
}

.sorting-parameters .activated,
.sorting-parameters a:active {
  border-bottom: none;
}

.sorting-parameters .activated,
.sorting-parameters a:focus,
.sorting-parameters a:hover {
  color: #81b3d2;
}

.sorting-parameters a:active {
  color: #000000;
}

.sorting-destination {
  box-sizing: border-box;
  width: 34px;
  margin-right: 1px;
  padding: 0;
}

.sorting-asc:focus path,
.sorting-asc:hover path,
.sorting-desc:focus path,
.sorting-desc:hover path {
  fill: #000000;
}


.sorting-asc.activated path,
.sorting-desc.activated path,
.sorting-asc:active path,
.sorting-desc:active path {
  fill: #81b3d2;
}

.search-results-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.search-results-item {
  list-style: none;
  margin: 0;
  padding: 31px 73px 29px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-card {
  margin: 0;
  padding: 0;
  display: flex;
}

.hotel-card-image {
  margin: 0;
  padding: 0 30px 0 0;
  width: 135px;
  height: 90px;
}

.hotel-card-central {
  width: 363px;
  margin: 0 auto 0 0;
  padding: 0;
}

.hotel-card-central h3 {
  font-size: 21px;
  margin: -5px 0 4px 0;
  padding: 0;
}

.hotel-card-central > a {
  color: #000000; 
}

.hotel-card-central > a:focus,
.hotel-card-central > a:hover {
  color: #81b3d2;
}

.hotel-card-central > a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-card-info {
  font-weight: normal;
  margin: 0 0 12px 0;
  padding: 0;
}

.hotel-card-info span {
  line-height: 21px;
  display: inline-block;
  box-sizing: border-box;
  width: 112px;
  margin: 0;
  padding: 0;

}

.hotel-card-interaction {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hotel-card-button {
  margin: 0 6px 0 0;
  padding: 3px 17px 3px 16px;
  line-height: 21px;
  color: #ffffff;
  border: none;
}

.button-detailed {
  background-color: #81b3d2;
}

.button-reserve {
  background-color: #766357;
  padding-right: 17px;
}

.button-detailed:focus,
.button-detailed:hover {
  background-color: #669ec0;
}

.button-detailed:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-reserve:focus,
.button-reserve:hover {
  background-color: #604e43;
}

.button-reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-card-rating {
  width: 241px;
  margin: 0;
  padding: 0;
  position: relative;
}

.rating-stars-list {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin-top: -1px;
  height: 17px;
  width: 115px;
  display: flex;
  justify-content: flex-end;
}

.rating-stars-list li {
  list-style: none;
  padding: 0;
  margin-left: 5px;
  height: 17px;
  width: 18px;
  background-image: url("../img/icon-star.svg");
  background-repeat: no-repeat;
}

.rating-score {
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  width: 111px;
  padding: 3px 13px 3px 15px;
  margin: 0;
  color: #666666;
  font-weight: normal; 
  line-height: 21px;
  background-color: #f2f2f2;
}

/* ------------------- footer -------------------*/
.site-footer {
  padding: 36px 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9); 
}

.site-footer b {
  display: inline-block;
  width: 256px;
  margin: 0 0px 2px 0;
  padding: 0;
  font-size: 21px;
  text-align: center;
}

.social-media-contacts {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  box-sizing: border-box;
  width: 256px;
  padding: 0 54px 0 52px;
}

.button-social {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-social:focus,
.button-social:hover {
  background-color: #669ec0;
}

.button-social:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-social:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.authority-mark {
  position: relative;
  box-sizing: border-box;
  width: 256px;
  font-weight: normal;
  padding: 0 0 0 15px;
  margin: 0 0 2px 0;
}

.authority-mark span {
  margin-left: 16px;
}

.html-academy {
  position: absolute;
  top: 50%;
  left: 113px;
  margin: -20px 0 0 1px;
}

.html-academy:focus path,
.html-academy:hover path {
  fill: #81b3d2;
}

.html-academy:active path {
  fill: rgba(0, 0, 0, 0.3);
}