@font-face {
  font-family: "PT Sans";
  src:
    local("PT Sans"), local("PTSans"),
    url("../font/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    local("PT Sans Bold"), local("PTSansBold"),
    url("../font/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

 body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  background-color: #f2f2f2
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------- header -------------------*/
.container-partition {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  box-sizing: border-box;
  background-color: #fff
}

.site-navi {
  font-size: 14px;
  position: relative;
  padding: 0px 73px;
}

.site-navi a {
  color: #333;
}

.site-navi {
  color: #333;
}

.site-navi .site-logo {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -69px;
  width: 138px;
  height: 70px;
}

.navi-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navi-links .active-page {
  color: #766357;
}

.navi-links li {
  vertical-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 115px;
}

.navi-info,
.navi-media {
  text-align: left;
}

.navi-map,
.navi-catalog {
  text-align: right;
}

.navi-info {
  margin-right: 125px;
}

.navi-catalog {
  margin-left: 125px;
}

.navi-media {
  margin-right: auto;
}

.navi-links a:hover,
.navi-links a:focus {
  color: #81b3d2;
}

.navi-links a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ------------------- index -------------------*/
.title-image {
  background-image: url("../img/sedona-title-image-w-mask-w-effects.jpg");
  background-color: #515F66;
  background-repeat: no-repeat;
  width: 1200px;
  height: 508px;
}

.title-image img {
  display: block;
  padding-top: 77px;
  margin: auto;
}

.introduction {
  color: #333;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 55px;
}

.introduction h2 {
  font-size: 21px;
  padding: 0;
  margin: 0 0 24px 0;
}

.introduction p {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.feature-container {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 21px;
}

.feature-container h3 {
  font-size: 21px;
}

.feature-container p {
  font-weight: normal;
}

.container-rich {
  background-color: #81b3d2;
  color: #fff;
  display: flex;
  align-items: center;
}

.container-mini {
  background-color: #eee;
}

.feature-text-emphasis {
  text-align: center;
  box-sizing: border-box;
  width: 400px;
  padding-top: 45px;
  padding-right: 48px;
  padding-bottom: 60px;
  padding-left: 48px;
}

.feature-text-emphasis.feature-mini-item {
  padding-right: 65px;
  padding-left: 65px;
}

.feature-text-emphasis h3 {
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.feature-text-emphasis p {
  margin: 0;
  padding: 0;
}

.feature-text-emphasis p:first-of-type {
  margin-bottom: 21px;
}

.feature-image {
  width: 800px;
  height: 256px;
}

.feature-ad-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
}

.feature-ad-item {
  box-sizing: border-box;
  width: 400px;
  position: relative;
  padding: 161px 50px 83px 50px;
  text-align: center;
}

.feature-ad-item h3 {
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.feature-ad-item p {
  margin: 0;
  padding: 0;
}

.feature-ad-item::before {
  content: "";
  position: absolute;
  left: 50%;
  background-repeat: no-repeat;
}

.ad-item-housing::before {
  background-image: url("../img/icon-house.svg");
  width: 75px;
  height: 72px;
  top: 60px;
  margin-left: -38px;
}

.ad-item-food::before {
  background-image: url("../img/icon-burger.svg");
  width: 75px;
  height: 70px;
  top: 61px;
  margin-left: -38px;
}

.ad-item-gifts::before {
  background-image: url("../img/icon-gift.svg");
  width: 64px;
  height: 76px;
  top: 56px;
  margin-left: -32px;
}

.feature-mini-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.housing-search > p {
  font-weight: normal;
}

.housing-search > h2 {
  line-height: 30px;
  font-size: 36px;
}

/*.housing-search-form {
  width: 568;
  height: 395;
}*/

.housing-search > button,
.housing-search-form > button {
  font: inherit;
  font-size: 21px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.housing-search > button {
  width: 568px;
  height: 86px;
  color: #fff;
  background-color: #766357;
}

.housing-search > button:focus,
.housing-search > button:hover {
  background-color: #604e43;
}

.housing-search > button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.housing-search-form > button {
  width: 458px;
  height: 58px;
  color: #fff;
  background-color: #81b3d2;
}

.housing-search-form > button:focus,
.housing-search-form > button:hover {
  background-color: #669ec0;
}

.housing-search-form > button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map-location {
  background-image: url("../img/map-location.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 593px;
}

/*.form-group {
  width: 100%;
}*/

/*.form-group-half {
  width: 50%;
}*/

/* ------------------- catalog -------------------*/

.form-fieldset legend {
  font-size: 16px;
}

.form-fieldset,
.form-fieldset button {
  line-height: 21px;
  border: none;
}

.form-fieldset label {
  line-height: 21px;
  font-weight: normal;
}

.housing-search-tools {
  background-image: url("../img/sedona-title-image-blurred-w-effects.jpg");
  background-repeat: no-repeat;
  background-color: #81b3d2;
  width: 1200px;
  height: 562px;
  color: #fff;
}

.sorting-parameters,
.sorting-destination {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-parameters a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  border-bottom: 1px dotted #81b3d2;
  /*display: inline-block;*/
}

.sorting-parameters a:hover {
  border-bottom: 1px dotted #81b3d2;
}

.sorting-parameters a:focus,
.sorting-parameters a:active {
  border-bottom: none;
}

.sorting-parameters a:focus,
.sorting-parameters a:hover {
  color: #81b3d2;
}

.sorting-parameters a:active {
  color: #000;
}

.sorting-destination a:focus,
.sorting-destination a:active {
  color: #81b3d2;
}

.sorting-destination a:hover {
  color: #000;
}

/*.sorting-destination a {
  display: inline-block;
}*/

.search-results-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-card-image,
.hotel-card-central,
.hotel-card-rating {
  width: 135px;
  height: 90px;
}

.housing-search-results h2,
.hotel-card-central h3 {
  font-size: 21px;
}

.hotel-card-central > a {
  color: #000; 
}

.hotel-card-central > a:focus,
.hotel-card-central > a:hover {
  color: #81b3d2;
}

.hotel-card-central > a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-card-info {
  font-weight: normal; 
}

.hotel-card-info span {
  line-height: 21px;
}

.hotel-card-button {
  color: #fff;
  line-height: 21px;
}

.button-detailed {
  background-color: #81b3d2;
  border: none;
}

.button-reserve {
  background-color: #766357;
  border: none;
}

.button-detailed:focus,
.button-detailed:hover {
  background-color: #669ec0;
}

.button-detailed:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-reserve:focus,
.button-reserve:hover {
  background-color: #604e43;
}

.button-reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating-score {
  color: #666;
  font-weight: normal; 
  line-height: 21px;
  background-color: #f2f2f2;
}

/* ------------------- footer -------------------*/
.site-footer {
  padding: 36px 73px;
  margin-top: -120px;
  background-color: rgba(255, 255, 255, 0.9);
}

.site-footer b {
  display: inline-block;
  width: 241px;
  font-size: 21px;
  text-align: center;
}

.social-media-contacts {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
}

.button-social {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-social:focus,
.button-social:hover {
  background-color: #669ec0;
}

.button-social:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-social:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.authority-mark {
  position: relative;
  width: 241px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.authority-mark span {
  margin-left: 16px;
}

.html-academy {
  position: absolute;
  top: 50%;
  left: 113px;
  margin-top: -20px;
  margin-left: -17px;
}

.html-academy:focus path,
.html-academy:hover path {
  fill: #81b3d2;
}

.html-academy:active path {
  fill: rgba(0, 0, 0, 0.3);
}